<configuration>
  <configSections>
    <section name="General" type="Preferences.CGeneralSection, FLIR CNUC Manager" />
    <section name="Connection" type="Preferences.CConnectionSection, FLIR CNUC Manager" />
    <section name="Camera" type="Preferences.CCameraSection, FLIR CNUC Manager" />
    <section name="Computer" type="Preferences.CComputerSection, FLIR CNUC Manager" />
    <section name="Plot" type="Preferences.CPlotSection, FLIR CNUC Manager" />
  </configSections>
  <General CnucExtension="cnuc" PixExtension="pix" OnePtNucExtension="1PtNUC"/>
  <Connection AutoConnect="false"/>
  <Camera FlashDisk="FlashDisk" CnucFolder="NUC"/>
  <Computer StartupFolder="" StartupFile="" TempFolder="C:\Temp"/>
  <Plot CurvesOverlap="10" CurvesPoints="50"/>
</configuration>
